# He Who Must Not Be Named
MAGIC_WORD=
# App store ID for downloading the app
APP_STORE_ID=id737308884
# test user email address for successful login
EMAIL=
# test user phone number for successful login
PHONE=
# test user password
PASSWORD=
# test user email address for unsuccessful login
NON_EXISTENT_USER=